@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "cursive";
  margin: 0;
  width: 100vw;
  height: 100vh;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 2s ease-out forwards;
}
